#!/usr/bin/env nextflow
/*
By Avery Davis Bell
Config for: mosdepthmergedexons.nf
*/

process{
  // all processes:
  executor = 'pbs' // running all jobs through submission; different queues, memory, etc
  queue = 'inferno' // same for all jobs
  clusterOptions = '-A GT-apaaby3' // same account all jobs; careful if end up specifying more clusterOptions at once (currently it doesn't work to specify more clusterOptions at once)

  withName: gtf2mergedexonbed{
    module = 'anaconda3/2020.02'
    memory = '1g'
    time = '10m'
  }

  withName: mosdepth{
    memory = '2g'
    cpus = 4
    time = '1h'
  }

  withName: combinedpbeds{
    memory = '1g'
    time = '10m'
  }

  withName: combinedpsumms{
    memory = '1g'
    time = '10m'
  }

  withName: comboexonsexplore{
    module = 'r/3.6.0'
    memory = '8g'
    time = '10m'
  }

  withName: comboexonsexploresubset{
    module = 'r/3.6.0'
    memory = '8g'
    time = '10m'
  }
}
