#!/usr/bin/env nextflow
/*
By Avery Davis Bell
Config for: strainspecsalmon.nf, workflow that runs emase
*/

process{
  // all processes:
  executor = 'pbs' // running all jobs through submission; different queues, memory, etc
  queue = 'inferno' // same for all jobs
  clusterOptions = '-A GT-apaaby3' // same account all jobs; careful if end up specifying more clusterOptions at once (currently it doesn't work to specify more clusterOptions at once)

  withName: mergeLaneFastqs{
    memory = '1g'
    time = '10m'
  }

  withName: trimmoIlluminaAdapters{
    time = '30m'
    cpus = 4
    memory = '20g' // having issue with getting upped memory on multiple cores (something with nextflow-created pbs scripts) - hopefully this is split among all
  }

  withName: salmonquant{
    module = 'anaconda3/2020.02'
    time = '1h'
    cpus = 4
    memory = '16g'
  }

}
